#Riot Games API file
dragontail-*

*.h5
*.weights

#Python file
__pycache__
*.py[cod]
*.npy

# File generated with 1_Init
data_classes.txt
Data/Source_Images/Training_Images/*
res

# 0_Light
0_Light/Data/Training/*.jpg

# Environments
.env
env/

# vscode
.vscode
vscode

# Results
*result*.*
*.mp4

# Checkpoints
Checkpoints
*.ckpt.*